<div class="content">
<p class="titles">Second Step - Purpose</p>
<p>What is Your Purpose?</p>
<br/>
<div class="flex-container">
  <div class="order-a" routerLink="/trainplan/quiz" (click)="onClick(BBchose.innerText)" #BBchose>
    Body-Building
  </div>
</div>
<br/>
<div class="flex-container">
  <div class="order-a" routerLink="/trainplan/quiz" (click)="onClick(GIschose.innerText)" #GIschose>Get in Shape</div>
</div>
<br/>
<div class="flex-container">
  <div class="order-a" routerLink="/trainplan/quiz" (click)="onClick(LWchose.innerText)" #LWchose>Lose Weight</div>
</div>
</div>
