<div class="about-container">
  <p style="color: #39CCCC; font-size: 25px;">The Team</p>
  <p>The Gymei team is comprised of dynamic individuals,
    passionate about technology and innovation.
    Each, in its area of expertise,
    is dedicated to providing the company’s partners and clients with extraordinary products and services,
    all aimed at creating a user experience like no other.</p>
  <br/><br/>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Dudu Abutbul</mat-card-title>
    <mat-card-subtitle>Front end Developer</mat-card-subtitle>
  </mat-card-header>
    <img mat-card-image src="../../assets/about.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Dudu leads the development efforts at Gymei.
        He has Experience of server and client side development,
        and passion for workout.
      </p>
    </mat-card-content>
    <br/>
    <mat-card-actions>
      <button mat-button><a href="https://www.linkedin.com/in/dudu-abutbul/"><i class="fa fa-linkedin-square" style="font-size:38px; color: #39CCCC"></i></a></button>
    </mat-card-actions>
  </mat-card>
</div>
