label {
    display: block;
    
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        color: red ;
        margin-bottom: 20px;
    }
}

.cta {
    background: #000A16;
    border: none;
    color: white;
    font-weight: 600;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';

    &:hover {
      font-weight: 100;
      background: #39CCCC;
      color: #000A16;
    }
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}
