<div class="header">
  <div class="logo-place">
      <img src="./../../assets/gymei-logo-home.jpg">
   </div>
    <div class="title">
      <h1>YOUR FIT IS MY COMMAND</h1>
    </div>
</div>
<hr>
<div class="content">
  <br/>
  <p class="titles">Gymei is a System Thet Fit You the the best Training-Plan For You by a little Quiz that The user Fill</p>
  <br/>
  <br/>
  <i class="fa fa-plus-circle" style="color: #39CCCC" aria-hidden="true"></i>
    The best Trainers in The Country That Will be Available to Your needs
  <br/><br/><br/>
  <i class="fa fa-plus-circle" style="color: #39CCCC" aria-hidden="true"></i>
    trainings accordingly to your Stats
  <br/><br/><br/>
  <i class="fa fa-plus-circle" style="color: #39CCCC" aria-hidden="true"></i>
    The trainings is Based on Videos That Our Trainers Do For You
  <br/><br/><br/>
  <i class="fa fa-plus-circle" style="color: #39CCCC" aria-hidden="true"></i>
    Products That can help you with the trainings
  <br/><br/><br/>  <br/><br/>
  So , Enough With the Talking and <b style="color: #39CCCC">Click above</b> To That Gymei Fit For you the best Training-Plan<br/>
  <br/>Because Your FIT is Gymei Command.
  <br/><br/><br/><br/>
</div>
<br/>
<app-explainvideo></app-explainvideo>
<br/><br/><br/>
<hr>
<br/>
<app-trainerhandle></app-trainerhandle>
<br/><br/><br/>
<hr>
<app-comment></app-comment>
<hr>
<br/>
<br/><br/>
<div class="button__holder">
  <h2>Click Here To Build Your Training-Plan &rarr;</h2>
  <button class="plus" routerLink="/trainplan/userdetails"></button>
</div>
