.plan-container
{
  position: relative;
  width: 100%;
  height: 1590px;
  text-align: center;
  box-shadow: 0 1px 10px #39CCCC, 0 0 40px rgba(0, 0, 0, 0.1) inset;


  h3 {
    text-decoration: underline;
    font-size: 26px;
  }
}

.logo-place1 {
  img {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    background-color: #fafafa;
    border-radius: 50%;
    border: 2px outset #39CCCC;
    box-shadow: 0px 1px 12px #888888;
  }
}

.logo-place2 {
  img {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: #fafafa;
    border-radius: 50%;
    border: 2px outset #39CCCC;
    box-shadow: 0px 1px 12px #888888;
  }
}

ul {
  list-style-type: none;
  margin: 0;padding: 0;

  li {
    box-shadow: 0 1px 10px #39CCCC, 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #E0E0E0;
    padding: 1.5em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    .muscle_text {
      margin-left: -10%;
      text-align: unset;
      font-weight: 200;
    }

    p {
      font-weight: bold;
      margin-left: 20px;
      left: 0;
    }

    .videobutton {
      border-radius: 50%;
      width: 60px;
      height: 53px;
      left: 88%;
      position: absolute;
      margin-top: 3px;
      background-color: #BB0B27;
      box-shadow: 0px 0px 13px #FFF;
      cursor: pointer;
    }


    img {
      border-radius: 50%;
      width: 100%;
    }

  }
}
